body{
  background-color: cadetblue;
}

#articleOne{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#articleTwo{
  font-family: cursive;
}

#articleThree{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
